.loaderWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #0d1117; /* dark bg */
  color: #fff;
  font-family: sans-serif;
}
.loaderText {
  font-size: 1rem;
  letter-spacing: 1px;
  opacity: 0.8;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;

  background-color: #000000;
}
body,
button {
  outline: none !important;
}
button,
select {
  text-transform: none;
}

body,
button,
body input,
body textarea {
  outline: none;
}
.mainContainer {
  min-width: 290px;
}
.gameContainer {
  padding-top: 60px;
}
header {
  position: fixed;
}
.navContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #bc9ebc;
  background-color: #1b1c1d;
  height: 60px;
}

.navLogo {
  margin-left: 4px;
  height: 30px;
  width: auto;
}

.navLogo img {
  height: 100%;
  width: auto;
}

.navBar {
  display: flex;
  align-items: center;
}
.navBalanceContainer {
  border: 1px solid rgb(170, 170, 170);
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 4px 8px;
}
/* .depositIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4px;
}
.depositIcon button {
  all: unset;
} */
.navBalanceContainer .icon {
  display: flex;
  color: #ffcc00;
  font-size: 24px;
}
.navBalance {
  padding: 0 8px;
  color: #28a909;
  display: inline-block;
}
.btnBalance {
  all: unset;
}
.navAmount {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
}

.navCurrency {
  font-size: 12px;
  color: #bc9ebc;
}

.navToggler {
  font-size: 18px;
  cursor: pointer;
  padding: 6px;
  text-align: center;
}

.navToggleBtn {
  all: unset;
  padding: 0 0 5px 5px;
  border-left: 1px solid #4e4e4e;
}

/* Sidebar */

header .user {
  position: relative;
  border-radius: 5px;
  min-width: 270px;
}

.sidebar {
  position: fixed;
  top: 60px;
  right: 0;
  z-index: 1000;
  background: #383a3e;
  color: #ffffff;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 0 0 10px 10px;
  width: 380px;
  max-width: 100vw;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}
.sidebarOpen {
  transform: translateX(0);
}

.avatar {
  height: 50px;
  width: 50px;
}

.avatar img {
  height: 100%;
  width: auto;
}

.section1 {
  background-color: #383a3e;
  color: #fff;
  padding: 8px;
  display: flex;
  align-items: center;
}

.username {
  font-size: 18px;
  font-weight: 700;
  margin-left: 10px;
}

.section2 {
  background: #2c2d30;
  margin-bottom: 10px;
}

.listMenuItem {
  padding: 10px;
  border: 1px solid rgba(125, 125, 125, 0.15);
  display: flex;
  justify-content: space-between;
}

.title .icon {
  padding-right: 8px;
}

.section3 {
  background: #2c2d30;
}
.section3 .btnItem {
  all: unset;
  cursor: pointer;
}

.section4 .listMenuItem {
  padding: 5px;
  font-size: small;
  color: #acacac;
}

.section4 .title .icon {
  color: green;
  padding-left: 5px;
  padding-right: 5px;
}
.btnLogout {
  all: unset;
  cursor: pointer;
  color: #ff0000;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.btnLogout:hover {
  color: #ff4d4d;
}
.sidebar :global(.form-check-input) {
  background-color: #444;
  border: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.5s ease;
}

.sidebar :global(.form-check-input:checked) {
  background-color: #22c55e;
}

.sidebar :global(.form-check-input:focus) {
  box-shadow: none;
}

/* logout page */

.logoutContainer {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  pointer-events: none;
}
.logoutContainer.visible {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
  pointer-events: auto;
}

.logoutContent {
  background-color: #1c1c1c;
  padding: 2rem;
  border-radius: 16px;
  max-width: 90%;
  width: 320px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  text-align: center;
  position: relative;
  animation: fadeInUp 0.3s ease-out;
}

.logoutContainer h2 {
  margin: 1rem 0;
  font-size: 1.2rem;
  color: #fff;
}

.logoutButton,
.cancelButton {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 8px;
  margin-top: 0.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.logoutButton {
  background-color: #e53935;
  color: white;
}

.logoutButton:hover {
  background-color: #c62828;
}

.cancelButton {
  background-color: #e0e0e0;
  color: #333;
}

.cancelButton:hover {
  background-color: #cfcfcf;
}

/* Fade in animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* alert section */
.alertContainer {
  position: fixed;
  top: 20px;
  left: 50%;
  width: 320px;
  transform: translateX(-50%);
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  font-weight: bold;
  z-index: 1000;
  opacity: 1;
  transition: top 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}
.alertContainer.entering {
  animation: slideIn 0.3s ease;
}
.alertContainer.leaving {
  opacity: 0;
  transform: translate(-50%, -40px);
}
@keyframes slideIn {
  from {
    transform: translate(-50%, -40px);
    opacity: 0;
  }
  to {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}
.error {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f00;
  font-weight: bold;
  padding: 10px 12px;
  border-radius: 10px;
}
.errorButton {
  color: #c6c6c6;
}
.cashoutBanner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #164b00;
  border: 1px solid #4db927;
  border-radius: 50px;
  padding: 5px 15px;
  width: 100%;
  color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  position: relative;
}

.cashoutText {
  margin-right: 20px;
  text-align: center;
}

.subtitle {
  line-height: 1.2;
  font-size: 12px;
  color: #83878e;
}

.multiplier {
  line-height: 1.2;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.cashoutAmount {
  background-color: #29a500;
  border-radius: 50px;
  padding: 5px 15px;
  margin-right: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 150px;
  position: relative;
}

.label {
  line-height: 1.2;
  font-size: 16px;
  font-weight: bold;
  color: #dcffdf;
}

.amount {
  line-height: 1.2;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

/* game container */

.gameContainer {
  background-color: #0e0e0e;
  color: #fff;
  width: 100%;
  height: calc(100vh - 59px);
  height: 100dvh;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.gamePlay {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: hidden;
  padding: 0 5px 5px;
}

.roundHistory {
  min-height: 22px;
  max-height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.gamePlay .stats {
  height: 22px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 5px;
  font-size: 12px;
}

.payoutWrapper {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.payoutBlock {
  display: flex;
}
.payoutBlock .payout {
  margin-right: 5px;
  margin-right: 4px;
  margin-left: 1px;
  z-index: 1;
}
.payout .payoutValue {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4px;
  border-radius: 13px;
  background-color: #0a0a0a;
  font-weight: 700;
}

.buttonBlock span {
  line-height: 0;
}

.dropdownToggle {
  margin-left: 6px;
  position: relative;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 22px;
  border-radius: 13px;
  border: 1px solid #414148;
  background: #252528;
  cursor: pointer;
}
.dropdownToggle:hover {
  color: red;
}
.trigger {
  display: flex;
  padding: 4px 4px 3px 4px;
  font-size: 16px;
}
.trigger .historyIcon {
  margin-right: 2px;
}

.dropdownMenu {
  width: 100%;
  right: auto;
  bottom: auto;
  position: absolute;
  z-index: 3;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
.dropdownMenu.show {
  display: block;
  background-color: initial;
  color: inherit;
  border: unset;
  margin: -26px 0 0;
  padding: 0;
}
.wrapper {
  border-radius: 0 0 16px 16px;
  box-shadow: 0 2px 20px #00000080;
  width: 100%;
  margin: 0 5px;
  background-color: #1f2128;
}
.wrapper .header {
  height: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
}
.wrapper .header .text {
  margin-left: 10px;
}
.wrapper .payoutBlock {
  background-color: #262830;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  border-radius: 0 0 16px 16px;
  font-size: 12px;
}
.wrapper .payoutBlock .payout {
  margin: 3px;
}
.wrapper .payoutBlock .payout .payoutValue {
  padding: 2px 4px 2.5px 4px;
}

/* stage Board */

.stageBoard {
  height: 100%;
  position: relative;
  background-color: #000;
  border-radius: 20px;
  border: 1px solid #2a2b2e;
  overflow: hidden;
}

@media (max-width: 992px) {
  .gameContainer {
    flex-direction: column-reverse;
    padding-left: 5px;
    padding-right: 5px;
    height: auto;
  }
  .stageBoard {
    height: calc(40vh - 59px) !important;
    min-height: 200px !important;
  }
}
@media (max-width: 768px) {
  .sidebar {
    width: 75%;
  }
}
