.loadingScreen {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
}
body {
  font-family: "Arial", sans-serif;
}
body,
button {
  outline: none !important;
}
button,
select {
  text-transform: none;
}
body,
button,
body input,
body textarea {
  outline: none;
}
.mainContainer {
  min-width: 290px;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #bc9ebc;
  background-color: #1b1c1d;
}

.navLogo {
  margin-left: 4px;
  height: 30px;
  width: auto;
}

.navLogo img {
  height: 100%;
  width: auto;
}

.navBar {
  display: flex;
  align-items: center;
}

.navBalance {
  padding: 0 10px;
  color: #28a909;
}

.navAmount {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
}

.navCurrency {
  font-size: 12px;
  color: #bc9ebc;
}

.navToggler {
  font-size: 18px;
  cursor: pointer;
  padding: 6px;
  text-align: center;
}

.navToggleBtn {
  padding: 0 0 5px 5px;
  border-left: 1px solid #4e4e4e;
}

/* Sidebar */

header .user {
  position: relative;
  border-radius: 5px;
  min-width: 270px;
}

.sidebar {
  z-index: 9;
  background: #383a3e;
  color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0 0 10px 10px;
  width: auto;
  min-width: 270px;
}

.avatar {
  height: 50px;
  width: 50px;
}

.avatar img {
  height: 100%;
  width: auto;
}

.section1 {
  background-color: #383a3e;
  color: #fff;
  padding: 8px;
  display: flex;
  align-items: center;
}

.username {
  font-size: 18px;
  font-weight: 700;
  margin-left: 10px;
}

.section2 {
  background: #2c2d30;
  margin-bottom: 10px;
}

.listMenuItem {
  padding: 10px;
  border: 1px solid rgba(125, 125, 125, 0.15);
  display: flex;
  justify-content: space-between;
}

.title .icon {
  padding-right: 8px;
}

.section3 {
  background: #2c2d30;
}

.section4 .listMenuItem {
  padding: 5px;
  font-size: small;
  color: #acacac;
}

.section4 .title .icon {
  padding-left: 5px;
  padding-right: 5px;
}

.sidebar :global(.form-check-input) {
  background-color: #444;
  border: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.5s ease;
}

.sidebar :global(.form-check-input:checked) {
  background-color: #22c55e;
}

.sidebar :global(.form-check-input:focus) {
  box-shadow: none;
}

/* alert section */
.alertContainer {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 320px;
  transform: translateX(-50%);
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  font-weight: bold;
  z-index: 9;
  opacity: 1;
  transition: top 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}
.alertContainer.entering {
  animation: slideIn 0.3s ease;
}
.alertContainer.leaving {
  opacity: 0;
  transform: translate(-50%, -40px);
}
@keyframes slideIn {
  from {
    transform: translate(-50%, -40px);
    opacity: 0;
  }
  to {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}
.error {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f00;
  font-weight: bold;
  padding: 10px 12px;
  border-radius: 10px;
}
.errorButton {
  color: #c6c6c6;
}
.cashoutBanner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #164b00;
  border: 1px solid #4db927;
  border-radius: 50px;
  padding: 5px 15px;
  width: 100%;
  color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  position: relative;
}

.cashoutText {
  margin-right: 20px;
  text-align: center;
}

.subtitle {
  line-height: 1.2;
  font-size: 12px;
  color: #83878e;
}

.multiplier {
  line-height: 1.2;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.cashoutAmount {
  background-color: #29a500;
  border-radius: 50px;
  padding: 5px 15px;
  margin-right: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 150px;
  position: relative;
}

.label {
  line-height: 1.2;
  font-size: 16px;
  font-weight: bold;
  color: #dcffdf;
}

.amount {
  line-height: 1.2;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

/* game container */

.gameContainer {
  background-color: #0e0e0e;
  color: #fff;
  width: 100%;
  height: calc(100vh - 59px);
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.gamePlay {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: hidden;
  padding: 0 5px 5px;
}

.roundHistory {
  min-height: 22px;
  max-height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.gamePlay .stats {
  height: 22px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 5px;
  font-size: 12px;
}

.payoutWrapper {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.payoutBlock {
  display: flex;
}
.payoutBlock .payout {
  margin-right: 5px;
  margin-right: 4px;
  margin-left: 1px;
  z-index: 1;
}
.payout .payoutValue {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4px;
  border-radius: 13px;
  background-color: #0a0a0a;
  font-weight: 700;
}

.buttonBlock span {
  line-height: 0;
}

.dropdownToggle {
  margin-left: 6px;
  position: relative;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 22px;
  border-radius: 13px;
  border: 1px solid #414148;
  background: #252528;
  cursor: pointer;
}
.dropdownToggle:hover {
  color: red;
}
.trigger {
  display: flex;
  padding: 4px 4px 3px 4px;
  font-size: 16px;
}
.trigger .historyIcon {
  margin-right: 2px;
}

.dropdownMenu {
  width: 100%;
  right: auto;
  bottom: auto;
  position: absolute;
  z-index: 3;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
.dropdownMenu.show {
  display: block;
  background-color: initial;
  color: inherit;
  border: unset;
  margin: -26px 0 0;
  padding: 0;
}
.wrapper {
  border-radius: 0 0 16px 16px;
  box-shadow: 0 2px 20px #00000080;
  width: 100%;
  margin: 0 5px;
  background-color: #1f2128;
}
.wrapper .header {
  height: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
}
.wrapper .header .text {
  margin-left: 10px;
}
.wrapper .payoutBlock {
  background-color: #262830;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  border-radius: 0 0 16px 16px;
  font-size: 12px;
}
.wrapper .payoutBlock .payout {
  margin: 3px;
}
.wrapper .payoutBlock .payout .payoutValue {
  padding: 2px 4px 2.5px 4px;
}

/* stage Board */

.stageBoard {
  height: 100%;
  position: relative;
  background-color: #000;
  border-radius: 20px;
  border: 1px solid #2a2b2e;
  overflow: hidden;
}

/* info board */
.infoBoard {
  height: 100%;
  width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}
.pt2 {
  padding-top: 10px;
}

app-bets-widget {
  display: flex;
  width: inherit;
  height: 100%;
  min-height: 0;
}
.betsBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #1b1c1d;
  border-radius: 10px 10px 0 0;
}

.betsBlock .betsBlockNav {
  min-height: 24px;
  min-width: 24px;
  font-size: 12px;
  margin-bottom: 5px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.betsBlock .betsBlockNav .navigationSwitcherWrapper {
  height: 24px;
}
.betsBlock .betsBlockNav .navigationSwitcher {
  height: 100%;
  background: #141516;
  border-radius: 10px;
  border: solid 1px #141516;
  position: relative;
}
.navigationSwitcher button {
  width: 100px;
}
.navigationSwitcher .tab.active {
  color: #fff;
  cursor: default;
  transform: scale(1.02);
  background: rgb(44, 45, 48);
  border-radius: 10px;
  transition: transform 0.5s ease, background 0.5s ease;
}
.navigationSwitcher .tab {
  height: 100%;
  position: relative;
  text-align: center;
  transform: translate(0);
  background: none;
  color: #9ea0a3;
  border: none;
  padding: 0;
  transition: color 0.5s ease;
}
.navigationSwitcher .tab:hover {
  color: #f00;
}
.betsBlock .dataList {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}
.betsBlock .dataList .dataItem {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.allBetsBlock {
  font-size: 14px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.px2 {
  padding-right: 10px;
  padding-left: 10px;
}
.pb1 {
  padding-bottom: 5px;
}
.textUpperCase {
  text-transform: uppercase;
}
.spacer {
  height: 2px;
  background-color: #141516;
}
.legend {
  font-size: 11px;
  color: #7b7b7b;
  display: flex;
  align-items: center;
}
.mx2 {
  margin-right: 10px;
  margin-left: 10px;
}
.legend .user {
  width: 19%;
}
.legend .bet {
  min-width: 35%;
  text-align: right;
  white-space: nowrap;
}
.legend .bet span {
  padding-left: 10px;
}
.legend .cashOut {
  flex: 1;
  text-align: right;
  white-space: nowrap;
}

.virtualScrollViewport {
  margin: 0 0 0 5px;
  scrollbar-width: thin;
  overflow-y: scroll;
  margin: 0 5px;
  height: 100%;
  display: block;
  position: relative;
  overflow: auto;
  contain: strict;
  transform: translateZ(0);
  will-change: scroll-position;
}

/* footer */
app-footer {
  width: 100%;
  display: flex;
  min-height: 25px;
  max-height: 25px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: #000;
  border: 1px solid #2a2b2e;
  font-size: 11px;
  color: #5e6269;
  padding: 2px 0 3px 0;
}
.provablyFairBlock {
  display: flex;
  height: 16px;
}
.provablyFair {
  display: flex;
  align-items: center;
}
.provablyFair .icon {
  background: url("../assets/icon-provabyfair.71eb97eaadfab595.svg") no-repeat
    center center/contain;
  width: 14px;
  height: 16px;
  margin: 0 4px 0 6px;
}
.textProvably {
  font-size: 12px;
  color: #bbbfc5;
  line-height: 1px;
}

@media (min-width: 992.01px) {
  .infoBoard {
    min-width: 370px;
    max-width: 370px;
  }
}

@media (max-width: 992px) {
  .gameContainer {
    flex-direction: column-reverse;
    padding-left: 5px;
    padding-right: 5px;
    height: auto;
  }
  .stageBoard {
    height: calc(40vh - 59px) !important;
    min-height: 200px !important;
  }
  .infoBoard {
    height: 80vh;
    padding-left: 0;
    padding-top: 20px !important;
  }
}
