<div _ngcontent-xsx-c76="" class="bet-list-item">
  <div _ngcontent-xsx-c76="" class="bet-list-item-column player">
    <img
      _ngcontent-xsx-c76=""
      draggable="false"
      class="avatar"
      src="assets/static/avatars/v2/av-25.png?v=v4.2.76-hotfix"
      alt="assets/static/avatars/v2/av-25.png?v=v4.2.76-hotfix"
    />
    <div _ngcontent-xsx-c76="" class="username">d***2</div>
  </div>
  <div _ngcontent-xsx-c76="" class="bet-list-item-column bet">
    <app-bet-amount _ngcontent-xsx-c76="" _nghost-xsx-c40=""
      ><!---->
      <div _ngcontent-xsx-c40="" class="ng-star-inserted">100.00</div>
      <!----></app-bet-amount
    >
  </div>
  <div _ngcontent-xsx-c76="" class="bet-list-item-column x"><!----></div>
  <div _ngcontent-xsx-c76="" class="bet-list-item-column win"></div>
</div>
